.error {
  color: red;
}

.logo {
  &__title {
    font-size: 64px;
    font-weight: 800;
    color: #56bd1a;
  }

  &__subtitle {
    color: #56bd1a;
    font-weight: 600;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f6f6f6ed;
}

.login {
  background-color: white;
  padding: 32px 24px 24px 24px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__buttonsLink {
    color: #707070;
  }
}

@media only screen and (max-width: 500px) {
  .login {
      padding: 32px 8px 8px 8px;
  }
}
