.container {
    display: flex;
    flex-direction: row;
    @include light-rounded-border;
    width: 100%;
}

.input {
    @include text-input;
    border: none;
}

.visibilityButton {
    border: none;
    background: none;
}
