.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $SOFT_WHITE;
}

.register {
    background-color: white;
    padding: 32px 24px 24px 24px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__link {
        color: #707070;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    .register {
        padding: 32px 8px 8px 8px;
    }
  }