.button {
    background-color: #56bd1a;
    border: 2px solid #56bd1a;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
    padding: 0.4rem 1rem;
}