.button {
    background-color: $PRIMARY_GREEN_1;
    border: 2px solid $PRIMARY_GREEN_1;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 0.4rem 0;
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #408b14;
        border: 2px solid #408b14;
    }
}