.widget {
  width: 476px;
  height: auto;
  background-color: #f3f3f3;
  border-style: solid;
  border-radius: 20px;
  border-color: #707070;
  border-width: 1px;
  padding: 16px;
  margin: 8px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.288));
}

.widget__title {
  font-size: 32px;
  font-weight: 600;
  color: #56bd1a;
}

.widget__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.widget__body {
  width: 100%;
  height: auto;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-color: #707070;
  border-width: 1px;
  padding: 16px;
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.16);
}

.widget__body p {
  margin: 0;
  font-size: 16px;
}
