ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #254d0d;
  color: white;
  height: 64px;
  padding-left: 64px;
}

.navBar b {
  font-family: "Raleway", sans-serif;
}
.navBar button {
  background-color: #56bd1a;
  border: 2px solid #56bd1a;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  padding: 0.4rem 1rem;
}

.navBar button:hover {
  cursor: pointer;
  background-color: #408b14;
  border: 2px solid #408b14;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
