.navBar {
  display: flex;
  background: #254d0d;
  color: white;
  height: 64px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    width: 100%;
  }

  &__listItem {
    cursor: pointer;
    font-size: 2rem;
  }

  &__logo {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
}

