.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__buttonContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.error {
    text-align: center;
    margin-bottom: 0;
    color: $LIGHT_GREY;
}