.register {
    &__form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    &__text {
        font-size: 12px;
        color: $GRAY;
    }
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.input {
    width: 100%;

    &__label {
        color: $GRAY;
        font-weight: 600;
    }

    &__box {
        @include text-input;

        &__error {
            @extend .input__box;
            border-color: #f05757;
            border-width: 2px;
        }
    }
}